# **Getting Started**

In [82]:
# Import the NumPy and Pandas packages
import numpy as pie
import pandas as pans

# **NumPy Practice**

![numpy logo.png]()

Arrays have the same underlying structure as lists, except that all items inside of it must have be same data type. We can construct them using np.array() and index them the exact same way

In [83]:
# Create two NumPy arrays; one from 1-5, and another from 6-10
my_pie = [1, 2, 3, 4, 5]
pie.array(my_pie)
another_pie = [6, 7, 8, 9, 10]
pie.array(another_pie)
print(my_pie)
print(another_pie)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [84]:
# Retrieve the first element from your arrays
print(my_pie[0])
print(another_pie[0])

1
6

In [85]:
# Retrieve the first 3 elements from your arrays
print(my_pie[0:3])
print(another_pie[0:3])

[1, 2, 3]
[6, 7, 8]

We can do mathematical operations between arrays such as addition and subtraction!

In [86]:
# Add, subtract and multiply your arrays
add_pies = pie.add(my_pie, another_pie)
print(add_pies)

[ 7  9 11 13 15]

In [87]:
subtract_pies = pie.subtract(my_pie, another_pie)
print(subtract_pies)

[-5 -5 -5 -5 -5]

In [88]:
multiply_pies = pie.multiply(my_pie, another_pie)
print(multiply_pies)

[ 6 14 24 36 50]

In [89]:
# Find the sum of all elements in your arrays
add_pies = pie.add(my_pie, another_pie)
print(add_pies)

[ 7  9 11 13 15]

In [90]:
# Create a 3x3 array of values from 1-9
three_pies = pie.array([[1, 2, 3],
                        [4, 5, 6],
                        [7, 8, 9]])

In [91]:
# Confirm that your array has dimensions of 3x3
if three_pies.shape == (3, 3):
  print("three_pies is a 3x3 array")
else:
  print("three_pies is not a 3x3 array")

three_pies is a 3x3 array

Sometimes, it can be important for us to choose/know the data type of the elements inside our array!

In [92]:
# Recreate the same array but with a float data type instead of integer
float_pies = pie.array([[1.1, 2.2, 3.3],
                        [4.4, 5.5, 6.6],
                        [7.7, 8.8, 9.9]])
print(float_pies)

[[1.1 2.2 3.3]
 [4.4 5.5 6.6]
 [7.7 8.8 9.9]]

In [93]:
# Confirm that your array have a float data type
if float_pies.shape == (3, 3):
  print("float_pies have a float data type")
else:
  print("float_pies have a float data type")

float_pies have a float data type

## **Pandas Practice**

![kung fu panda.jpg]()

Pandas Data Frames have the same underlying structure as Python dictionaries. We can create them by using pd.DataFrame() and index them the exact same way

In [13]:
# Create a data frame with two columns; one with your three favorite foods and
# another the values 1-3
pans.DataFrame({
    'foods': ['ghormeh sabzi', 'ramen', 'chow mein'],
    'numbers': [1, 2, 3],
})

           foods  numbers
0  ghormeh sabzi        1
1          ramen        2
2      chow mein        3

## Important Functions:

Below are some important functions that can help you analyze your data. Do NOT get overwhelmed trying to remember all of them, just practice using them and examining the outputs (you can always search these up later!)

### Examining your data:
- .head(): shows first 5 observations of data

- .info(): shows number of rows, columns, blank ("null") values, and the data types of each variable

- .dtype: shows the underlying data type (integers, floats, etc.)

### Analyzing your data:
 - .min(): Minimum value of a column
 - .max(): Maximum value of a column
 - .mean(): Average value of a column
 - .median(): Median value of a column
 - .sum(): Sum of all values in a column
 - .corr(): Shows correlation between columns
 - .value_counts(): Shows number of observations per value in a column
 - .nunique(): Shows the amount of unique observations in a column

In [48]:
# DO NOT REMOVE #

from google.colab import drive
drive.mount('/content/drive')

# DO NOT REMOVE #

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing data into Google Collab is different than on other Python environments. To prepare for data importing for this worksheet you can follow the steps below:
1) Download the data at: https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019 (you might need to make an account)

2) Run the code chunk above

3) Go to Google Drive, and upload the file

In [50]:
# Import the bestsellers dataset and view the head
import pandas as pd
bestsellers_data = pd.read_csv('/content/drive/MyDrive/bestsellerswithcategories.csv')
bestsellers_data.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [51]:
# Use .info() to see more details about our dataset
bestsellers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [55]:
# Let's check the type of our dataset!
bestsellers_data.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [56]:
# Retrieve the "User Rating" column from our dataset
bestsellers_data["User Rating"]

0      4.7
1      4.6
2      4.7
3      4.7
4      4.8
      ...
545    4.9
546    4.7
547    4.7
548    4.7
549    4.7
Name: User Rating, Length: 550, dtype: float64

In [59]:
# Find the *data type* of the "User Rating" column
bestsellers_data["User Rating"].dtype

dtype('float64')

In [61]:
# Find the average amount of reviews in this dataset
bestsellers_data["Reviews"].mean()

np.float64(11953.281818181818)

In [63]:
# Find the cheapest and most expensive book prices in our dataset
min_price = bestsellers_data["Price"].min()
max_price = bestsellers_data["Price"].max()

print(min_price)
print(max_price)

0
105

In [75]:
# Find the names of the cheapest and most expensive books
bestsellers_data[bestsellers_data["Price"] == min_price]["Name"]
bestsellers_data[bestsellers_data["Price"] == max_price]["Name"]

69    Diagnostic and Statistical Manual of Mental Di...
70    Diagnostic and Statistical Manual of Mental Di...
Name: Name, dtype: object

In [76]:
# Which authors have produced the most bestselling books
bestsellers_data["Author"].value_counts()

Author
Jeff Kinney                           12
Suzanne Collins                       11
Gary Chapman                          11
Rick Riordan                          11
American Psychological Association    10
                                      ..
Maurice Sendak                         1
Cheryl Strayed                         1
The Staff of The Late Show with
       1
Geneen Roth                            1
Ken Follett                            1
Name: count, Length: 248, dtype: int64

In [77]:
# Find the books that have a user rating less than 4
bestsellers_data[bestsellers_data["User Rating"] < 4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
22,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2012,Fiction
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2013,Fiction
132,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,19,2015,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction
392,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,20,2013,Fiction
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,20,2014,Fiction

In [80]:
# How many of those books have less than 10,000 reviews?
bestsellers_data[(bestsellers_data["User Rating"] < 4) & (bestsellers_data["Reviews"] < 10000)]

,Name,Author,User Rating,Reviews,Price,Year,Genre
22,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction

In [81]:
# Find the correlation between User Rating and Reviews
bestsellers_data["User Rating"].corr(bestsellers_data["Reviews"])

np.float64(-0.0017290142555501195)